<!DOCTYPE html>
<html>
<head>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<h1>Mail de confirmation</h1>

{{ data.email }}
<p><a href="{{ url("security.login") }}">Confirmer votre compte</a></p>



</body>
</html>