<!DOCTYPE html>
<html>
<head>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<h1>hello world</h1>
{{ data.firstname }}
{{ data.lastname }}
{{ data.email }}
{{ data.content }}


</body>
</html>