{% extends 'default-old/:bloc-mere.html.twig' %}

{% block title %} Frère {% endblock title %}
{% block description %}"Frère"{% endblock description %}

 	{% block titre %}
 	{{ parent()}}
      <h2>Titre Frère</h2>
	{% endblock titre %}

	{% block nav %}

	{% endblock nav %}