{% extends 'default-old/bloc-mere.html.twig' %}

{% block title %} Fille {% endblock title %}


{% block description %}Fille{% endblock description %}

 	{% block titre %}
 	{{ parent() }}
      <h2>Titre fille</h2>
	{% endblock titre %}
	{# Les commentaires sont en TWIG non visibles #}